* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    background-color: rgb(246, 226, 0);
    font-family: sans-serif;
}

.score {
    color: 	#ec0000;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score h2 {
    font-size: 30px;
}

.score p {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

.intro {
    color: #ec0000;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;
}

.intro h1 {
    font-size: 50px;
}

.intro button, 
.match button {
    width: 150px;
    height: 50px;
    background: none;
    border: none;
    color: rgb(246, 226, 0);;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(8, 156, 255);
    border-radius: 3px;
    cursor: pointer;
}

.match {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s ease 0.4s;
}

.winner {
    color: #ec0000;
    text-align: center;
    font-size: 50px;
}

.hands, .options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-hand {
    transform: rotateY(180deg);
}

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}